.cliente {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #232323;
  border-radius: 10px;
  box-shadow: 0 2px 20px #191919;
  color: #f5f5f5;
  list-style-type: none;
  transition: all 0.1s ease-in-out;
  user-select: none;
  border: 1px solid #232323;
}

.cliente h1 {
  font-size: 1.2rem;
}

.cliente:hover {
  border: 1px solid rgba(220, 20, 60, 0.5);
  transform: scale(1.01);
}
